@{
    ViewData["Title"] = "MovieList";
    Layout = "~/Views/UserWebUILayout/UILayout.cshtml";
}

<div class="page-single movie_list">
    <div class="container">
        <div class="row ipad-width2">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="topbar-filter">
                    <p>Toplam <span>1,608 film</span> mevcut</p>
                    <label>Sırala:</label>
                    <select>
                        <option value="popularity">Popülerliğe Göre Azalan</option>
                        <option value="popularity">Popülerliğe Göre Artan</option>
                        <option value="rating">Puana Göre Azalan</option>
                        <option value="rating">Puana Göre Artan</option>
                        <option value="date">Yayın Tarihine Göre Azalan</option>
                        <option value="date">Yayın Tarihine Göre Artan</option>
                    </select>
                    <a href="~/Film-Review-Movie-Database/movielist.html" class="list"><i class="ion-ios-list-outline active"></i></a>
                    <a href="~/Film-Review-Movie-Database/moviegrid.html" class="grid"><i class="ion-grid"></i></a>
                </div>
            </div>
            <div class="movie-item-style-2">
                <img src="~/Film-Review-Movie-Database/images/uploads/mv1.jpg" alt="">
                <div class="mv-item-infor">
                    <h6><a href="~/Film-Review-Movie-Database/moviesingle.html">oblivion <span>(2012)</span></a></h6>
                    <p class="rate"><i class="ion-android-star"></i><span>8.1</span> /10</p>
                    <p class="describe">Dünyanın en güçlü kahramanları, yaramaz Loki ve uzaylı ordusunun insanlığı köleleştirmesini durdurmak için bir araya gelmeli ve birlikte savaşmayı öğrenmelidir...</p>
                    <p class="run-time"> Süre: 2s21dk    |     <span>Yaş Sınırı: 13+</span>    |     <span>Vizyon Tarihi: 1 Mayıs 2015</span></p>
                    <p>Yönetmen: <a href="#">Joss Whedon</a></p>
                    <p>Oyuncular: <a href="#">Robert Downey Jr.,</a> <a href="#">Chris Evans,</a> <a href="#">Chris Hemsworth</a></p>
                </div>
            </div>
            <div class="movie-item-style-2">
                <img src="~/Film-Review-Movie-Database/images/uploads/mv2.jpg" alt="">
                <div class="mv-item-infor">
                    <h6><a href="moviesingle.html">into the wild <span>(2014)</span></a></h6>
                    <p class="rate"><i class="ion-android-star"></i><span>7.8</span> /10</p>
                    <p class="describe">Steve Rogers modern dünyadaki rolünü benimsemekte zorlanırken, yeni bir tehditle savaşmak için Kara Dul ile güçlerini birleştirir...</p>
                    <p class="run-time"> Süre: 2s21dk    |     <span>Yaş Sınırı: 13+</span>    |     <span>Vizyon Tarihi: 1 Mayıs 2015</span></p>
                    <p>Yönetmen: <a href="#">Anthony Russo,</a><a href="#">Joe Russo</a></p>
                    <p>Oyuncular: <a href="#">Chris Evans,</a> <a href="#">Samuel L. Jackson,</a> <a href="#">Scarlett Johansson</a></p>
                </div>
            </div>
            <div class="movie-item-style-2">
                <img src="~/Film-Review-Movie-Database/images/uploads/mv3.jpg" alt="">
                <div class="mv-item-infor">
                    <h6><a href="moviesingle.html">blade runner <span>(2015)</span></a></h6>
                    <p class="rate"><i class="ion-android-star"></i><span>7.3</span> /10</p>
                    <p class="describe">Küçülme yeteneğine sahip bir süper kostümle donatılan hırsız Scott Lang, içindeki kahramanı bulmalı ve yardım etmelidir...</p>
                    <p class="run-time"> Süre: 2s21dk    |     <span>Yaş Sınırı: 13+</span>    |     <span>Vizyon Tarihi: 1 Mayıs 2015</span></p>
                    <p>Yönetmen: <a href="#">Peyton Reed</a></p>
                    <p>Oyuncular: <a href="#">Paul Rudd,</a> <a href="#">Michael Douglas</a></p>
                </div>
            </div>
            <div class="movie-item-style-2">
                <img src="~/Film-Review-Movie-Database/images/uploads/mv4.jpg" alt="">
                <div class="mv-item-infor">
                    <h6><a href="moviesingle.html">Mulholland pride <span>(2013)</span></a></h6>
                    <p class="rate"><i class="ion-android-star"></i><span>7.2</span> /10</p>
                    <p class="describe">Tony Stark’ın dünyası Mandarin adlı güçlü bir terörist tarafından altüst edilir ve bu, onu yeniden inşa ve intikam dolu bir yolculuğa sürükler.</p>
                    <p class="run-time"> Süre: 2s21dk    |     <span>Yaş Sınırı: 13+</span>    |     <span>Vizyon Tarihi: 1 Mayıs 2015</span></p>
                    <p>Yönetmen: <a href="#">Shane Black</a></p>
                    <p>Oyuncular: <a href="#">Robert Downey Jr., </a> <a href="#">Guy Pearce,</a><a href="#">Don Cheadle</a></p>
                </div>
            </div>
            <div class="movie-item-style-2">
                <img src="~/Film-Review-Movie-Database/images/uploads/mv5.jpg" alt="">
                <div class="mv-item-infor">
                    <h6><a href="moviesingle.html">skyfall: evil of boss <span>(2013)</span></a></h6>
                    <p class="rate"><i class="ion-android-star"></i><span>7.0</span> /10</p>
                    <p class="describe">Tony Stark’ın dünyası Mandarin adlı güçlü bir terörist tarafından altüst edilir ve bu, onu yeniden inşa ve intikam dolu bir yolculuğa sürükler.</p>
                    <p class="run-time"> Süre: 2s21dk    |     <span>Yaş Sınırı: 13+</span>    |     <span>Vizyon Tarihi: 1 Mayıs 2015</span></p>
                    <p>Yönetmen: <a href="#">Alan Taylor</a></p>
                    <p>Oyuncular: <a href="#">Chris Hemsworth, </a> <a href="#">Natalie Portman,</a><a href="#">Tom Hiddleston</a></p>
                </div>
            </div>
            <div class="topbar-filter">
                <label>Her sayfadaki film sayısı:</label>
                <select>
                    <option value="range">5 Film</option>
                    <option value="saab">10 Film</option>
                </select>
                <div class="pagination2">
                    <span>Sayfa 1- 2:</span>
                    <a class="active" href="#">1</a>
                    <a href="#">2</a>
                    <a href="#"><i class="ion-arrow-right-b"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="sidebar">
                <div class="searh-form">
                    <h4 class="sb-title">Search for movie</h4>
                    <form class="form-style-1" action="#">
                        <div class="row">
                            <div class="col-md-12 form-it">
                                <label>Movie name</label>
                                <input type="text" placeholder="Enter keywords">
                            </div>
                            <div class="col-md-12 form-it">
                                <label>Genres & Subgenres</label>
                                <div class="group-ip">
                                    <select name="skills" multiple="" class="ui fluid dropdown">
                                        <option value="">Enter to filter genres</option>
                                        <option value="Action1">Action 1</option>
                                        <option value="Action2">Action 2</option>
                                        <option value="Action3">Action 3</option>
                                        <option value="Action4">Action 4</option>
                                        <option value="Action5">Action 5</option>
                                    </select>
                                </div>

                            </div>
                            <div class="col-md-12 form-it">
                                <label>Rating Range</label>

                                <select>
                                    <option value="range">-- Select the rating range below --</option>
                                    <option value="saab">-- Select the rating range below --</option>
                                    <option value="saab">-- Select the rating range below --</option>
                                    <option value="saab">-- Select the rating range below --</option>
                                </select>

                            </div>
                            <div class="col-md-12 form-it">
                                <label>Release Year</label>
                                <div class="row">
                                    <div class="col-md-6">
                                        <select>
                                            <option value="range">From</option>
                                            <option value="number">10</option>
                                            <option value="number">20</option>
                                            <option value="number">30</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <select>
                                            <option value="range">To</option>
                                            <option value="number">20</option>
                                            <option value="number">30</option>
                                            <option value="number">40</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 ">
                                <input class="submit" type="submit" value="submit">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="ads">
                    <img src="~/Film-Review-Movie-Database/images/uploads/ads1.png" alt="">
                </div>
                <div class="sb-facebook sb-it">
                    <h4 class="sb-title">Find us on Facebook</h4>
                    <iframe src="#" data-src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ftemplatespoint.net%2F%3Ffref%3Dts&tabs=timeline&width=340&height=315px&small_header=true&adapt_container_width=false&hide_cover=false&show_facepile=true&appId" height="315" style="width:100%;border:none;overflow:hidden"></iframe>
                </div>
                <div class="sb-twitter sb-it">
                    <h4 class="sb-title">Tweet to us</h4>
                    <div class="slick-tw">
                        <div class="tweet item" id="">
                        </div>
                        <div class="tweet item" id="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>