<div id="overview" class="tab active">
    <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
            <p>Tony Stark creates the Ultron Program to protect the world, but when the peacekeeping program becomes hostile, The Avengers go into action to try and defeat a virtually impossible enemy together. Earth's mightiest heroes must come together once again to protect the world from global extinction.</p>
            <div class="title-hd-sm">
                <h4>VİDEO & FOTOĞRAF</h4>
                <a href="#" class="time">5 Video & 245 Fotoğraf<i class="ion-ios-arrow-right"></i></a>
            </div>
            <div class="mvsingle-item ov-item">
                <a class="img-lightbox" data-fancybox-group="gallery" href="~/Film-Review-Movie-Database/images/uploads/image11.jpg"><img src="~/Film-Review-Movie-Database/images/uploads/image1.jpg" alt=""></a>
                <a class="img-lightbox" data-fancybox-group="gallery" href="~/Film-Review-Movie-Database/images/uploads/image21.jpg"><img src="~/Film-Review-Movie-Database/images/uploads/image2.jpg" alt=""></a>
                <a class="img-lightbox" data-fancybox-group="gallery" href="~/Film-Review-Movie-Database/images/uploads/image31.jpg"><img src="~/Film-Review-Movie-Database/images/uploads/image3.jpg" alt=""></a>
                <div class="vd-it">
                    <img class="vd-img" src="~/Film-Review-Movie-Database/images/uploads/image4.jpg" alt="">
                    <a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="~/Film-Review-Movie-Database/images/uploads/play-vd.png" alt=""></a>
                </div>
            </div>
            <div class="title-hd-sm">
                <h4>Oyuncular</h4>
                <a href="#" class="time">Tüm Oyuncuları Gör  <i class="ion-ios-arrow-right"></i></a>
            </div>
            <div class="mvcast-item">
                <div class="cast-it">
                    <div class="cast-left">
                        <img src="~/Film-Review-Movie-Database/images/uploads/cast1.jpg" alt="">
                        <a href="#">Robert Downey Jr.</a>
                    </div>
                    <p>...  Robert Downey Jr.</p>
                </div>
                <div class="cast-it">
                    <div class="cast-left">
                        <img src="~/Film-Review-Movie-Database/images/uploads/cast2.jpg" alt="">
                        <a href="#">Chris Hemsworth</a>
                    </div>
                    <p>...  Thor</p>
                </div>
                <div class="cast-it">
                    <div class="cast-left">
                        <img src="~/Film-Review-Movie-Database/images/uploads/cast3.jpg" alt="">
                        <a href="#">Mark Ruffalo</a>
                    </div>
                    <p>...  Bruce Banner/ Hulk</p>
                </div>
                <div class="cast-it">
                    <div class="cast-left">
                        <img src="~/Film-Review-Movie-Database/images/uploads/cast4.jpg" alt="">
                        <a href="#">Chris Evans</a>
                    </div>
                    <p>...  Steve Rogers/ Captain America</p>
                </div>
                <div class="cast-it">
                    <div class="cast-left">
                        <img src="~/Film-Review-Movie-Database/images/uploads/cast5.jpg" alt="">
                        <a href="#">Scarlett Johansson</a>
                    </div>
                    <p>...  Natasha Romanoff/ Black Widow</p>
                </div>
                <div class="cast-it">
                    <div class="cast-left">
                        <img src="~/Film-Review-Movie-Database/images/uploads/cast6.jpg" alt="">
                        <a href="#">Jeremy Renner</a>
                    </div>
                    <p>...  Clint Barton/ Hawkeye</p>
                </div>
                <div class="cast-it">
                    <div class="cast-left">
                        <img src="~/Film-Review-Movie-Database/images/uploads/cast7.jpg" alt="">
                        <a href="#">James Spader</a>
                    </div>
                    <p>...  Ultron</p>
                </div>
                <div class="cast-it">
                    <div class="cast-left">
                        <img src="~/Film-Review-Movie-Database/images/uploads/cast9.jpg" alt="">
                        <a href="#">Don Cheadle</a>
                    </div>
                    <p>...  James Rhodes/ War Machine</p>
                </div>
            </div>
            <div class="title-hd-sm">
                <h4>Kullanıcı Yorumları</h4>
                <a href="#" class="time">Tüm Yoruları Gör (56)<i class="ion-ios-arrow-right"></i></a>
            </div>
            <div class="mv-user-review-item">
                <h3>Yapılan Son Değerlendirme</h3>
                <div class="no-star">
                    <i class="ion-android-star"></i>
                    <i class="ion-android-star"></i>
                    <i class="ion-android-star"></i>
                    <i class="ion-android-star"></i>
                    <i class="ion-android-star"></i>
                    <i class="ion-android-star"></i>
                    <i class="ion-android-star"></i>
                    <i class="ion-android-star"></i>
                    <i class="ion-android-star"></i>
                    <i class="ion-android-star last"></i>
                </div>
                <p class="time">
                    28 Nisan 2025 <a href="#"> Zehra Şeren</a>
                </p>
                <p>This is by far one of my favorite movies from the MCU. The introduction of new Characters both good and bad also makes the movie more exciting. giving the characters more of a back story can also help audiences relate more to different characters better, and it connects a bond between the audience and actors or characters. Having seen the movie three times does not bother me here as it is as thrilling and exciting every time I am watching it. In other words, the movie is by far better than previous movies (and I do love everything Marvel), the plotting is splendid (they really do out do themselves in each film, there are no problems watching it more than once.</p>
            </div>
        </div>
        <div class="col-md-4 col-xs-12 col-sm-12">
            <div class="sb-it">
                <h6>Yönetmen: </h6>
                <p><a href="#">Joss Whedon</a></p>
            </div>
            <div class="sb-it">
                <h6>Senarist: </h6>
                <p><a href="#">Joss Whedon,</a> <a href="#">Stan Lee</a></p>
            </div>
            <div class="sb-it">
                <h6>Oyuncular: </h6>
                <p><a href="#">Robert Downey Jr,</a> <a href="#">Chris Evans,</a> <a href="#">Mark Ruffalo,</a><a href="#"> Scarlett Johansson</a></p>
            </div>
            <div class="sb-it">
                <h6>Kategori:</h6>
                <p><a href="#">Action, </a> <a href="#"> Sci-Fi,</a> <a href="#">Adventure</a></p>
            </div>
            <div class="sb-it">
                <h6>Çıkış Tarihi:</h6>
                <p>May 1, 2015 (U.S.A)</p>
            </div>
            <div class="sb-it">
                <h6>Süresi:</h6>
                <p>141 min</p>
            </div>
            <div class="sb-it">
                <h6>MMPA Rating:</h6>
                <p>PG-13</p>
            </div>
            <div class="sb-it">
                <h6>Anahtar Kelimeler:</h6>
                <p class="tags">
                    <span class="time"><a href="#">superhero</a></span>
                    <span class="time"><a href="#">marvel universe</a></span>
                    <span class="time"><a href="#">comic</a></span>
                    <span class="time"><a href="#">blockbuster</a></span>
                    <span class="time"><a href="#">final battle</a></span>
                </p>
            </div>
            <div class="ads">
                <img src="~/Film-Review-Movie-Database/images/uploads/ads1.png" alt="">
            </div>
        </div>
    </div>
</div>