<div class="social-btn">
    <a href="#" class="parent-btn"><i class="ion-heart"></i> Favorilere Ekle</a>
    <div class="hover-bnt">
        <a href="#" class="parent-btn"><i class="ion-android-share-alt"></i>Paylaş</a>
        <div class="hvr-item">
            <a href="#" class="hvr-grow"><i class="ion-social-facebook"></i></a>
            <a href="#" class="hvr-grow"><i class="ion-social-twitter"></i></a>
            <a href="#" class="hvr-grow"><i class="ion-social-instagram"></i></a>
            <a href="#" class="hvr-grow"><i class="ion-social-youtube"></i></a>
        </div>
    </div>
</div>