<header class="ht-header">
    <div class="container">
        <nav class="navbar navbar-default navbar-custom">
            <div class="navbar-header logo">
                <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <div id="nav-icon1">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <a href="~/Film-Review-Movie-Database/index-2.html"><img class="logo" src="~/Film-Review-Movie-Database/images/logo1.png" alt="" width="119" height="58"></a>
            </div>
            <div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav flex-child-menu menu-left">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="dropdown first"><a class="btn btn-default dropdown-toggle lv1">ANA SAYFA</a></li>
                    <li class="dropdown first"><a class="btn btn-default dropdown-toggle lv1">FİLMLER</a></li>
                    <li class="dropdown first"><a class="btn btn-default dropdown-toggle lv1">DİZİLER</a></li>
                    <li class="dropdown first"><a class="btn btn-default dropdown-toggle lv1">BLOGLAR</a></li>
                    <li class="dropdown first"><a class="btn btn-default dropdown-toggle lv1">YORUMLAR</a></li>
                </ul>
                <ul class="nav navbar-nav flex-child-menu menu-right">
                    <li class="dropdown first">
                        <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
                            Sayfalar <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu level1">
                            <li><a href="#">OYUNCULAR</a></li>
                            <li><a href="#">YENİ ÇIKANLAR</a></li>
                            <li><a href="#">YAKINDA GELECEKLER</a></li>
                            <li><a href="#">DİĞER</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Yardım</a></li>
                    <li class="loginLink"><a href="#">Giriş Yap</a></li>
                    <li class="btn signupLink"><a href="#">Üye Ol</a></li>
                </ul>
            </div>
        </nav>

        <div class="top-search">
            <select>
                <option value="united">Filmler</option>
                <option value="saab">Diziler</option>
                <option value="saab">Belgeseller</option>
                <option value="saab">Diğer</option>
            </select>
            <input type="text" placeholder="Aradığınız film, dizi veya oyuncuyu yazın">
        </div>
    </div>
</header>