<footer class="ht-footer">
    <div class="container">
        <div class="flex-parent-ft">
            <div class="flex-child-ft item1">
                <a href="~/Film-Review-Movie-Database/index-2.html"><img class="logo" src="~/Film-Review-Movie-Database/images/logo1.png" alt=""></a>
                <p>
                    Cumhuriyet Caddesi, No: 23<br>
                    Bostancı, Kadıköy/İstanbul
                </p>
                <p>Bize Ulaşın: <a href="#">(+90) 500 400 3020</a></p>
            </div>
            <div class="flex-child-ft item2">
                <h4>Hızlı Erişim Linkleri</h4>
                <ul>
                    <li><a href="#">Hakkımızda</a></li>
                    <li><a href="#">Filmler</a></li>
                    <li><a href="#">Diziler</a></li>
                    <li><a href="#">Bize Yazın</a></li>
                    <li><a href="#">Forum</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </div>
            <div class="flex-child-ft item3">
                <h4>Hukuki</h4>
                <ul>
                    <li><a href="#">Kullanım Şartları</a></li>
                    <li><a href="#">Gizlilik Politikası</a></li>
                    <li><a href="#">Güvenlik</a></li>
                </ul>
            </div>
            <div class="flex-child-ft item4">
                <h4>Hesap</h4>
                <ul>
                    <li><a href="#">Hesabım</a></li>
                    <li><a href="#">İzleme Listesi</a></li>
                    <li><a href="#">Koleksiyonlar</a></li>
                    <li><a href="#">Kullanıcı Kılavuzu</a></li>
                </ul>
            </div>
            <div class="flex-child-ft item5">
                <h4>Bülten</h4>
                <p>Son haberleri almak için bültenimize abone olun <br> ve en son gelişmelerden haberdar olun.</p>
                <form action="#">
                    <input type="text" placeholder="E-posta adresinizi girin...">
                </form>
                <a href="#" class="btn">Hemen Abone Ol <i class="ion-ios-arrow-forward"></i></a>
            </div>
        </div>
    </div>
    <div class="ft-copyright">
        <div class="ft-left">
            <p><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></p>
        </div>
        <div class="backtotop">
            <p><a href="#" id="back-to-top">Yukarı çık  <i class="ion-ios-arrow-thin-up"></i></a></p>
        </div>
    </div>
</footer>